<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>kdm editor</title>
    <script src="/ace.js" type="text/javascript" charset="utf-8"></script>    
    <script src="/script.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="/style.css"/>
  </head>
  <body>
    <button id="connectButton" type="button">connect to serial</button>
    <button id="runButton" type="button">run</button>
    <div id="editor">function update()
  -- setLed(index, r,g,b)
end
function key(i, s)
  -- midiNoteOn(note, vel, channel)
  -- midiNoteOff(note, vel, channel)
end
    </div>
    
  </body>
</html>
